<a href="https://colab.research.google.com/github/ravichas/bioinformatics/blob/main/R_tutorial_Bioconductor_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You can use COLAB to run R. Here are two different ways to run R using COLAB: 

* Copy this notebook to your Google drive and modify it 
* Go to https://colab.research.google.com/#create=true&language=r, or use the following short URL https://colab.to/r

In [ ]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [ ]:
colnames(mtcars)

 [1] "mpg"  "cyl"  "disp" "hp"   "drat" "wt"   "qsec" "vs"   "am"   "gear"
[11] "carb"

In [ ]:
mtcars$hp

ERROR: ignored

## How to see what libraries are installed?

In [11]:
# print(installed.packages())

## Bioconductor 

Let us install Bioconductor and run some genomics modeling

In [2]:
if (!require("BiocManager", quietly = TRUE))
    install.packages("BiocManager")
BiocManager::install(version = "3.14")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

'getOption("repos")' replaces Bioconductor standard repositories, see
'?repositories' for details

replacement repositories:
    CRAN: https://cran.rstudio.com


Bioconductor version 3.14 (BiocManager 1.30.16), R 4.1.2 (2021-11-01)

Installing package(s) 'BiocVersion'

Old packages: 'broom', 'cli', 'dtplyr', 'fansi', 'gert', 'jsonlite', 'Rcpp',
  'testthat', 'class', 'foreign', 'MASS', 'nlme', 'nnet', 'spatial'

In [5]:
BiocManager::install('Biobase')

'getOption("repos")' replaces Bioconductor standard repositories, see
'?repositories' for details

replacement repositories:
    CRAN: https://cran.rstudio.com


Bioconductor version 3.14 (BiocManager 1.30.16), R 4.1.2 (2021-11-01)

Installing package(s) 'Biobase'

also installing the dependency ‘BiocGenerics’


Old packages: 'broom', 'cli', 'dtplyr', 'fansi', 'gert', 'jsonlite', 'Rcpp',
  'testthat', 'class', 'foreign', 'MASS', 'nlme', 'nnet', 'spatial'

In [6]:
suppressPackageStartupMessages({
   library(devtools)
  library(Biobase) })

## Load data
Let us load expression data

In [7]:
con=url("http://bowtie-bio.sourceforge.net/recount/ExpressionSets/bodymap_eset.RData")
load(file=con)
close(con)

## bm (see below) object contains three tables

In [8]:
bm = bodymap.eset
bm

ExpressionSet (storageMode: lockedEnvironment)
assayData: 52580 features, 19 samples
  element names: exprs
protocolData: none
phenoData
  sampleNames: ERS025098 ERS025092 ... ERS025091 (19 total)
  varLabels: sample.id num.tech.reps ... race (6 total)
  varMetadata: labelDescription
featureData
  featureNames: ENSG00000000003 ENSG00000000005 ... LRG_99 (52580
    total)
  fvarLabels: gene
  fvarMetadata: labelDescription
experimentData: use 'experimentData(object)'
Annotation:

## Table1: Expression data

In [9]:
exp_data = exprs(bm)
dim(exp_data)
head(exp_data,n=5)

[1] 52580    19

                ERS025098 ERS025092 ERS025085 ERS025088 ERS025089 ERS025082
ENSG00000000003 1354      216       215        924      725       125
ENSG00000000005  712      134         4       1495      119        20
ENSG00000000419  450      547       516        529      808       680
ENSG00000000457  188      368       196        386      156       259
ENSG00000000460   66       29         1         26       11         9
                ERS025081 ERS025096 ERS025099 ERS025086 ERS025084 ERS025087
ENSG00000000003 796       1954      815       249       4614      6548
ENSG00000000005   7          0        0        16        975       923
ENSG00000000419 744        369      636       486       1200      2823
ENSG00000000457 436        288      187       553       1543      1194
ENSG00000000460  25         42       12        22        213        80
                ERS025093 ERS025083 ERS025095 ERS025097 ERS025094 ERS025090
ENSG00000000003 5030      1450      781        69       1888       983
ENSG00000000005  696        15       24         0         20         4
ENSG00000000419 2159       933      870       621       1026      1185
ENSG00000000457  876       655      862       242        569       609
ENSG00000000460   57        13       78        17        351        46
                ERS025091
ENSG00000000003   3
ENSG00000000005   0
ENSG00000000419 765
ENSG00000000457 782
ENSG00000000460  73

## Table 2: Phenotypic data

In [10]:
pheno_data = pData(bm)
dim(pheno_data)
head(pheno_data)

[1] 19  6

          sample.id num.tech.reps tissue.type gender age race
ERS025098 ERS025098 2             adipose     F      73  caucasian
ERS025092 ERS025092 2             adrenal     M      60  caucasian
ERS025085 ERS025085 2             brain       F      77  caucasian
ERS025088 ERS025088 2             breast      F      29  caucasian
ERS025089 ERS025089 2             colon       F      68  caucasian
ERS025082 ERS025082 2             heart       M      77  caucasian

## Table 3: Feature Data

In [ ]:
feature_data = fData(bm)
dim(fData(bodymap.eset))
fData(bodymap.eset)[1:5,,1]